Assets/webrtc/Runtime/Plugins/Android*
Assets/webrtc/Runtime/Plugins/x86_64*
build*
/Temp
/Library
/obj
/*.sln
/*.csproj
/*.suo


/Assets/WSATestCertificate.pfx*

/Logs
/UserSettings
.vsconfig

**/.DS_Store
.vscode/
